@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-family: "Arima Madurai", cursive;
  color: black;
  font-size: 4rem;
  letter-spacing: -3px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
}

.container {
  position: absolute;
  text-align: center;
}

.bird {
  background-image: url("../image/bird-cells-new.svg");
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
          animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
          animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.bird--one {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}


.bird-container {
  position: relative;
  top: 20%;
  left: -10%;
  transform: scale(4) translateX(-5vw);
  will-change: transform;
  -webkit-animation-name: fly-right-one;
          animation-name: fly-right-one;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.bird-container--one {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}


@-webkit-keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@-webkit-keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-one {
  0% {
    transform: scale(2) translateY(-20vh) translateX(-10vw);
  }
  10% {
    transform: translateY(-10vh) translateX(10vw) scale(1.5);
  }
  20% {
    transform: translateY(0em) translateX(20vw) scale(1.5);
  }
  30% {
    transform: translateY(0.5em) translateX(30vw) scale(1.5);
  }
  40% {
    transform: translateY(1em) translateX(40vw) scale(1.5);
  }
  50% {
    transform: translateY(1em) translateX(50vw) scale(1.5);
  }

  60% {
    transform: translateY(1em) translateX(60vw) scale(1.5);
  }
  70%{
    transform: translateY(0.5em) translateX(70vw) scale(1.5);
  }
  80%{
    transform: translateY(0em) translateX(80vw) scale(1.5);
  }
  90%{
    transform: translateY(-10em) translateX(95vw) scale(1.5);
  }
  100% {
    transform: translateY(-20vh) translateX(120vw) scale(1.5);
  }
}

